body {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
.container {
    max-width: 1200px !important;
}
.banner {
    background-image: url(../img/banner.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - 125px);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}