body {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
.form-control {
    font-size: 14px;
    border-color:#dbdbdb;
}
.container {
    max-width: 1200px !important;
}
.banner {
    background-image: url(../img/banner.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - 125px);
    padding-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-nav li >a{
    border-left: 1px solid #ebebeb;
}
.top-nav2 li >a{
    border-right: 1px solid #ebebeb;
}
.top-nav2 li a, .top-nav li a{
    padding-right: .75rem !important;
    padding-left: .75rem !important;
}
.top-nav2 li a i, .top-nav li a i, .top-nav li a img{
    color: #FF8D07;
    font-size: 1.25rem;
    padding-right: .5rem;
    vertical-align: middle;
}
.logo >span{
    position: relative;
    margin-left: 1.5rem;
    padding-left: 1.75rem;
    display: inline-block;
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
}
.logo >span:before{
    content: '';
    background: #ebebeb;
    width: 1px;
    height: 2rem;
    position: absolute;
    left: 0;
    top: -.5rem;
}
.btn-vivo{
    border: 2px solid #FF8D07;
    background-color: transparent;
    color: #FF8D07!important;
    padding: .5rem 2rem !important;
    font-weight: 600;
}
.btn-vivo:hover{
    background-color: #FF8D07;
    color: #fff!important;
}
.btn-vivo-solid{
    border: 2px solid #FF8D07;
    background-color: #FF8D07;
    color: #fff!important;
    padding: .5rem 2rem !important;
    font-weight: 600;
}
.btn-vivo-solid:hover{
    background-color: #F58300;
    color: #fff!important;
}
.dropdown-menu {
    border-color: #ebebeb;
    border-radius: 0;
    margin: 0;
}
.login-dropdown{
    width: 16rem;
    padding: 1rem;
    margin-top: 1rem;
}
.login-dropdown:after {
    content: '';
    position: absolute;
    margin: 0 auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ebebeb;
    top: -10px;
    right: 16%;
}
.vivo-tab{
    border: none;
}
.vivo-tab li{
    z-index: 1;
}
.vivo-tab li a{
    position: relative;
    min-width: 10rem;
    text-align: center;
    color: #cbcbcb;
    font-weight: 600;
}
.vivo-tab li a:before {
    background-color: #587d8f;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 28px;
    width: 100%;
    z-index: -1;
}
.vivo-tab li a.active:before {
    background-color: #FF8D07;
}
.vivo-tab li a.active, .vivo-tab li a:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}
.vivo-tab li a.active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
}
.vivo-tab li a i {
    border: 1px solid #587d8f;
    background-color: #00374d;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    margin: auto auto .5rem;
    text-align: center;
    width: 38px;
}
.vivo-tab li a.active i {
    border-color: #FF8D07;
    background-color: #FF8D07;
}
.carousel-control-next, .carousel-control-prev {
    width: 30px;
    font-size: 2rem;
}
.carousel-control-next {
    right: -25px;
}
.carousel-control-prev {
    left: -25px;
}
.carousel-control-next:hover,
.carousel-control-prev:hover{
    color: #FF8D07;
    opacity: 1;
}
.carousel-item .card, .card.event{
    border: none;
    border-radius: 0;
}
.carousel-item .card{
    cursor: pointer;
}
.carousel-item .card:hover{
    color: #000;
}
.carousel-item .card-body {
    padding-top: .75rem;
}
.carousel-item .card .card-img-top{
    border-radius: 0;
}
.carousel-item .card .card-title {
    margin-bottom: .25rem;
}
.carousel-item .card .card-text {
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: #bac0c3;
}
.product-price .price {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
    display: inline-block;
    margin-bottom: .75rem;
}
.event .media > img{
    max-width: 65px;
    margin-top: .25rem;
}
.event .media span{
    color: #4e555b;
    font-size: .95em;
    line-height: 1.25;
    display: inline-block;
}
.event a:hover,.feature:hover{
    text-decoration: none ;
}
.feature, .feature:hover{
    color: #464646;
}
.feature .dropright{
    margin-top: .75rem;
}
.feature:hover .dropright, .event a:hover{
    color: #FF8D07;
}
.logo-container {
    max-width: 500px;
    margin: 0 auto;
}
.footer-nav {
    border-bottom: 1px solid #ebebeb;
}
.footer-nav li a{
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}
.site-nav{
    width: 100%;
}
.site-nav  li  a{
    position: relative;
    color: rgba(0,0,0,.5);
    font-size: 1rem;
}
.site-nav  li  a:hover, .site-nav  > li.open  > a,.site-nav  li  a.active{
    color: #23272b;
}
.site-nav  > li  >a:hover i, .site-nav  > li.open  > a i,.site-nav  >li  >a.active i{
    color: #FF8D07;
}
.site-nav  li  a.active{
    background-color: #fff;
    font-weight: 500;
}
.site-nav > li > a > i{
    font-size: 1.25rem;
    margin-right: .5rem;
    vertical-align: middle;
}
.site-nav > li > a + ul {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-left: 1rem;
}

.site-nav > li.open > a + ul {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
.arrow:after {
    content: "+";
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 8px;
    font-style: normal;
    font-size: 16px;
    opacity: 1;
    transition: all 350ms ease;
}

li.open > a .arrow:after {
    content: '\2013';
}
.dashboard{
    border-top: 1px solid #f8f9fa;
}
.dashboard .fixed-width{
    min-width: 14rem;
    background-color: #f8f9fa;
    padding-right: 0;
}
.card-dashboard .card{
    border: none;
    border-radius: 0;
}

.card-dashboard .card-body{
    padding-bottom: 0.75rem;
}
.card-dashboard .card-footer,
.card-dashboard .card-header{
    border: none;
}
#salesChart svg > rect{
    fill: #f8f9fa !important;
}
.table thead th {
    border-width: 0;
}
.btn-edit, .btn-remove{
    font-size: 1rem;
    padding: .125rem;
    color: #6c757d;
}
.btn-remove:hover{
    color: #dc3545;
}
.navbar-toggler:focus, .navbar-toggler:active,
.navbar-light .navbar-toggler:focus{
    color: #FF8D07;
    outline: none;
}
.navbar-light .navbar-toggler {
    color: #212529;
    border-color: transparent;
}
.navbar-expand-xs .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (max-width: 1200px){
/*.event .media{
    flex-direction: column;
}
    .event .media > img {
        margin-top: 0;
        margin-bottom: .25rem;
    }*/
}
@media (max-width: 575.98px){
    .top-navber, .top-navber >.container{
        padding: 0;
    }
    .btn-vivo {
        padding: .25rem .5rem !important;
    }

    .logo a img {
        max-width: 205px;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .login-dropdown:after {
        right: 8%;
    }
    .vivo-tab li a {
        min-width: 8rem;
    }
    .carousel-item .card{
        margin-bottom: 1rem;
    }
    .banner {
        background-image: none;
        padding-left: 0;
        background-color: rgba(0,0,0,.75);
        padding-right: 0;
    }
    .carousel-control-next {
        right: -22px;
    }
    .carousel-control-prev {
        left: -22px;
    }
    .vivo-tab {
        justify-content: center;
    }
}
